

:root {
    --main-gray: #32343D;
    --main-lightblue: #92CCCD;
    --main-darkblue: rgba(49, 52, 61, 1);
    --dark: rgba(28, 29, 33, 1);
    --light: rgba(238, 238, 247, 1);
}

header {
    display: flex;
    background-color:var(--main-gray);
    justify-content: space-between;
    align-items: center;
    
}


h1 {
    background-color: var(--main-lightblue);
    color: var(--main-gray);
    padding: 0.2em 0.2em 0.2em 4em;
    font-size: 2.5em;
}


li {
    list-style: none;
    font-size: 1.5em;
}

h2 {
    position: absolute;
    left: 88%;
    top: 9.8em;
    padding: 0.5em;
    font-size: 1.5em;
    width: fit-content;
    background-color: var(--main-lightblue);
    color: var(--dark);
    font-size: 2em;
}


figure {
    position: relative;
    z-index: -1;
    width: 100vw;
    height: 20em;
    max-height: 20em;
    background-size: cover;
    overflow: hidden;
    background-image: url(../images/02-hero-bg.jpg);
    
} 

main {
    display: flex;
}

main aside {
    order: 0;
    width: 20%;
    text-align: right;
    margin-right: 2em;
}

main section {
    order: 1;
}

.nav-ul {
    display: flex;
    margin-right: 6em;
    color: var(--main-lightblue);
    flex-wrap: wrap;
}

.nav-ul li {
    margin: 1em 0.2em;
    border-bottom: 0.1em solid var(--main-lightblue);
    padding: 0 0.5em 0.5em;
}

.banner-color {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(46, 134, 201);
    opacity: 40%;

}

.work-container {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 300px;
}

.first-project-pic {
    width: 65%;
}

.other-projects-pic {
    width: 30%;
}

@media screen and (max-width: 600px) {
    header{
        display: block;
        justify-content: center;
    }

    h1 {
        align-items: center;
        text-align: center;
        padding: 0.5em;
    }

    .nav-ul{
        flex-direction: column;
        margin: 0;
        text-align: center;
    }

    h2 {
        text-align: center;
        top: 22.5em;
        left: 32%;
    }
}