* {
    box-sizing: border-box;
}

:root {
    --main-gray: #32343D;
    --main-lightblue: #92CCCD;
    --main-darkblue: rgba(49, 52, 61, 1);
    --dark: rgba(28, 29, 33, 1);
    --light: rgba(238, 238, 247, 1);
    --label-color: #465A77;
    --text-color: #4a7dbb;
    --image-overlay-color: rgba(146, 204, 205, 0.28);
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    display: flex;
    background-color:var(--main-gray);
    justify-content: space-between;
    align-items: center;
    
}


h1 {
    background-color: var(--main-lightblue);
    color: var(--main-gray);
    padding: 0.1em 0.2em 0.1em 4em;
    font-size: 3.5em;
    margin-top: 0.05em;
    margin-bottom: 0.25em;
    
   
}


li {
    list-style: none;
    font-size: 1.4em;
}

h2 {
    position: absolute;
    left: 88%;
    top: 7em;
    padding: 0.5em;
    font-size: 1.5em;
    width: fit-content;
    background-color: var(--main-lightblue);
    color: var(--dark);
    font-size: 2em;
}

main {
    background-color: var(#ededf6);
    margin: 0 5em 0 3em;
}

.main-banner {
    position: relative;
    z-index: -1;
    width: 100vw;
    height: 20em;
    max-height: 20em;
    background-size: cover;
    overflow: hidden;
    background-image: url(../images/02-hero-bg.jpg);
    
} 

.banner-color {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(46, 134, 201);
    opacity: 40%;

}

.nav-ul {
    display: flex;
    margin-right: 6em;
    color: var(--main-lightblue);
    flex-wrap: wrap;
}

.nav-ul li {
    margin: 0.5em 0.2em;
    border-bottom: 0.15em solid var(--main-lightblue);
    padding: 0 0.5em 0.5em;
}


.about-me-container {
    display: flex;
    margin-top: 5em;
}

.labels-left {
    font-size: 5em;
    text-align: right;
    padding-right: 0.2em;
    color: var(--label-color);
    
}

.about-me-label {
    border-right: 5px solid var(--label-color);
    margin-left: 100px;
}

.about-me-right {
    font-size: 1.5em;
    margin-left: 2em;
    line-height: 1.4em;
    color: var(--text-color);
    
}

.about-me-right .p2 {
    margin-top: 2em
}

.work-main-container {
    display: flex;
    margin-top: 5em;
}

.work-label {
    border-right: 5px solid var(--label-color);
    margin-left: 130px;
}

.work-images {
    display: block;
}

#big-image {
    width: 100%;
    height: 50vh;
    border: 5px solid var(--main-lightblue);
    background-position: center;
    background-size: cover;
    background-image: url(../images/02-portfolio-4.jpg);
    margin-left: 3em;
}

#big-image-overlay {
    position: relative;
    width: 100%;
    height: 49.5vh;
    background-color: var(--image-overlay-color);
}

#big-img-title-container {
    position: absolute;
    bottom: 25px;
    background-color: var(--main-lightblue);
    padding: 0.6em 0.6em 0 0.6em;
    display: inline-block;
}

#big-img-title-container h4 {
    font-size: 2.5em;
    margin-bottom: 0.25em;
}

#big-img-title-container p {
padding-bottom: 0.6em;
}


#work-small-container {
    display: flex;
}

#work-border {
    border-right: 5px solid var(--label-color) ;
    margin-left: 325px;
}

























@media screen and (max-width: 600px) {

    header{
        display: block;
        justify-content: center;
    }


    h1 {
        align-items: center;
        text-align: center;
        padding: 0.5em;
    }

    .nav-ul{
        flex-direction: column;
        margin: 0;
        text-align: center;
    }

    h2 {
        text-align: center;
        top: 22.5em;
        left: 32%;
    }
}