* {
    box-sizing: border-box;
}

:root {
    --main-gray: #32343D;
    --main-lightblue: #92CCCD;
    --main-darkblue: rgba(49, 52, 61, 1);
    --dark: rgba(28, 29, 33, 1);
    --light: rgba(238, 238, 247, 1);
    --label-color: #465A77;
    --text-color: #4a7dbb;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    display: flex;
    background-color:var(--main-gray);
    justify-content: space-between;
    align-items: center;
    
}


h1 {
    background-color: var(--main-lightblue);
    color: var(--main-gray);
    padding: 0.2em 0.2em 0.2em 4em;
    font-size: 4em;
    
   
}


li {
    list-style: none;
    font-size: 2em;
}

h2 {
    position: absolute;
    left: 88%;
    top: 7em;
    padding: 0.5em;
    font-size: 1.5em;
    width: fit-content;
    background-color: var(--main-lightblue);
    color: var(--dark);
    font-size: 2em;
}

main {
    background-color: var(#ededf6);
}

.main-banner {
    position: relative;
    z-index: -1;
    width: 100vw;
    height: 20em;
    max-height: 20em;
    background-size: cover;
    overflow: hidden;
    background-image: url(../images/02-hero-bg.jpg);
    
} 

.nav-ul {
    display: flex;
    margin-right: 6em;
    color: var(--main-lightblue);
    flex-wrap: wrap;
}

.nav-ul li {
    margin: 1em 0.2em;
    border-bottom: 0.15em solid var(--main-lightblue);
    padding: 0 0.5em 0.5em;
}

.banner-color {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(46, 134, 201);
    opacity: 40%;

}

.about-me-container {
    display: flex;
    margin-top: 5em;
}

.labels-left {
    margin-left: 5em;
    font-size: 5em;
    text-align: right;
    
    padding-right: 0.2em;
    color: var(--label-color);
    
}

.about-me-left {
    border-right: 0.07em solid var(--label-color);
}

.about-me-right {
    font-size: 1.5em;
    margin: 0 5em 0em 2em;
    line-height: 1.4em;
    color: var(--text-color);
    
}

.about-me-right .p2 {
    margin-top: 2em
}

.work-main-container {
    display: flex;
    margin-top: 5em;
}

.work-label {
    border-right: 0.35em solid var(--label-color);
}

.work-header{
    margin-left: 5.38em;
}

.work-images {
    display: block;
}

.big-picture {
    /* background-image: url(../images/02-portfolio-1.jpg); */
    width: 80vw;
    margin: 0 auto;
    /* text-align: center; */

    
}

.big-picture img {
    width: 140em;
    max-width: 85%;
    max-height: 40em;
    object-fit: cover;
    margin-left: 3em;
}










































/* .work-left {
    margin-left: 6.39em;
    /* height: 10em; */
*/



/* #work-main-fig {
    background-image: url(../images/02-portfolio-1.jpg);
    position: relative;
    z-index: -1;
    width: 60%;

    background-size: contain;
    overflow: hidden;
    margin: 0 auto;
    background-repeat: no-repeat;
    
} */

/* #work-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80vh;
    background: var(--main-lightblue);
    opacity: 40%;
} */






@media screen and (max-width: 600px) {
    header{
        display: block;
        justify-content: center;
    }


    h1 {
        align-items: center;
        text-align: center;
        padding: 0.5em;
    }

    .nav-ul{
        flex-direction: column;
        margin: 0;
        text-align: center;
    }

    h2 {
        text-align: center;
        top: 22.5em;
        left: 32%;
    }
}